.lt-search{
    padding: 10px;
    position: relative;
}

.lt-search .search_input{
    height: 34px;
    line-height: 34px;
    padding: 0;
    margin: 0;
    border: 1px solid #007aff;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 55px;
}

.lt-search .btn-search{
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 0 5px 5px 0;
}


.lt-history{
    font-size: 12px;
    color: #666;
    padding: 10px;
}

.lt-history .lt-title{
    padding: 10px;
}

.lt-history .content{
    border: 1px dashed red;
}
.lt-history .content li{
    height: 30px;
    line-height: 30px;
    border-bottom: 1px dashed red;
}
.lt-history .content li:last-child{
    border: none;
}
.lt-history .content li a{
    padding: 0 10px;
}
.lt-history .content li i{
    line-height: 30px;
}