.body_bg{
    background-color: #222D32;
}

/*a标签公共类*/
a,
a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}

/*ul,li公共类*/
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.panel .panel-title{
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    padding-left: 40px;
}

.mt_150{
    margin-top: 150px;
}
.mt_20{
    margin-top: 20px;
}

.mb_20{
    margin-bottom: 20px;
}
/*公共侧边栏*/
.lt-aside{
    width: 180px;
    height: 100%;
    background-color: #222D32;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 1s;
    z-index: 999;

}
.lt-aside.switch{
    left:-180px;
}

.lt-aside .brand{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    background-color: #367FA9;
}

.lt-aside .brand a{
    color: #fff;
}
.lt-aside .user{
    padding-top: 30px;
    height: 180px;
}
.lt-aside .user img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.lt-aside .user p{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.lt-aside .nav a{
    display: block;
    height: 40px;
    font-size: 14px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    /*给每个li加个透明边框*/
    border-left: 3px solid transparent;
}


.lt-aside .nav .child a{
    padding-left: 20px;
}

.lt-aside .nav .current{
    background-color: #1D1F21;
    border-left: 3px solid #069;
}


.lt-main{
    width: 100%;
    height: 1000px;
    padding-left: 180px;
    padding-top: 50px;
    transition: all 1s;
}
.lt-main.hidemain{
    padding-left: 0;
}

.lt-main .topbar{
    position: fixed;
    top: 0;
    right: 0;
    height:50px;
    background-color: #3C8DBC;
    width: 100%;
    z-index: 666;
    padding-left: 180px;
    transition: all 1s;
}

.lt-main .topbar.hidetopbar{
    padding-left: 0;
}
.lt-main .topbar a{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
}


